[Unit]
Description=Alliance Reunited Discord bot.

[Service]
Type=simple
WorkingDirectory=/opt/ZeropointBot
ExecStart=/usr/bin/yarn dev

[Install]
WantedBy=multi-user.target
