<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zeropoint Community</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="The site of the OFFICIALZEROPOINT channel and Discord server.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://cdn.glitch.com/ea459c75-9b0f-466b-af0c-6ed48bdc46a1%2FZPC_Round-Logo-2019.png?v=1576342132193">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <style>
      .info-area { display: flex; justify-content: center; }
      .inf-sect { width: 800px; }
      .inf-sect h2, .inf-sect h3, .inf-sect p { 
        display: flex;
        justify-content: center;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Zeropoint Community</h1>
        <nav>
          <ul>
            <li><a href="/"><span>Home</span></a></li>
            <li class="active"><span>About</span></li>
            <li><a href="/social"><span>Social</span></a></li>
            <li><a href="/uploads"><span>Uploads</span></a></li>
            <li><a href="/discord"><span>Join Discord</span></a></li>
          </ul>
        </nav>
    </header>
    <main>
      <div class="title-area"><h1>About the Community</h1></div>
      <div class="info-area">
        <div class="inf-sect">
          <h2>Welcome</h2>
          <p>Welcome to Zeropoint Community, where there's no point to it. Nope, nothing, nada.</p>
          <h2>What We Do</h2>
          <p>In our server, we gather together for scambaiting, chilling out, and occasionally, some of those random memes that you see shitposted around them Internets.</p>
          <h2>Features</h2>
          <p>In addition to our amazing community, there are bots to keep yourself entertained, as well as occasional get-togethers in community voice channels
            where you can engage in some casual gaming with server members, or just relax and let yourself out.
          </p>
          <h3>So join today! All you have to do is click <a href="/discord" style="margin: 0px 0.5rem; color:#00f;">this</a> link.</h3>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="js/client.js"></script>
  </body>
</html>